.cursor {
    display: inline-block;
    width: 1.5px;
    overflow: hidden;
    height: clamp(2rem, 3.5vw, 3rem);
    margin-left: .5rem;
    /* border-right: 1px solid red; */
    background-color: currentColor;
    animation: blink 0.8s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  